<!DOCTYPE html>
<html lang="en">
<head>
        {{>headerLinks}}
    <link rel="stylesheet" href="../../public/css/style.css"/>
</head>
<body>
    {{>header}}
    <h1>Welcomr to Keashav React Js</h1>
    <h2>{{PropsNewData}}</h2>
    <p>jfyv hfg iohgvnerh gjdrgjd p gjrfurfh9gujrbfpdfgergudfsgvsro i</p>
    <img src="https://images.pexels.com/photos/2072577/pexels-photo-2072577.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" 
    width="200px" height="300px"/>
    {{>footer}}
</body>
</html>